$txt-muted: #636b6f;

$bg-primary: #c78cd1;
$bg-primary-light: #fbbdff;
$bg-primary-dark: #955ea0;

$bg-accent: #ffcb2e;
$bg-accent-light: #fffe65;
$bg-accent-dark: #c79b00;

$tooltip-bg: rgb(51, 51, 51);
$tooltip-text: rgb(255, 255, 255);

$dark-bg-color: #303030;
$dark-bg-elevated-color: #5f5f5f;
$dark-bg-elevated-color-dark: #3f3f3f;
$dark-txt-muted: #abadad;
