@use "/src/styles/utility.scss";
@import "/src/styles/colors.scss";
@import "/src/styles/tooltip.scss";

.skill {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  .logo {
    $logo-size: 2.5rem;
    width: $logo-size;
    height: $logo-size;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      padding: 0.2rem;
    }
  }

  .percentages {
    @extend .txt-muted;
    display: flex;
  }

  .status {
    flex: 1 1 auto;

    .status-bar {
      text-align: center;
      position: relative;
      min-width: 10rem;
      height: 0.7ch;
      background-color: $bg-primary;
      border-radius: 10px;

      .percent {
        position: absolute;
        top: -2.2ch;
      }

      .bar-filled {
        height: 100%;
        background-color: $bg-primary-dark;
        border-radius: 10px;
      }
    }
  }
}
