.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  .contact-info {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;

    .img-holder {
      height: 1rem;

      img {
        height: 100%;
      }
    }

    a {
      text-decoration: none;
      color: black;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.dark a {
  color: white !important;
}
