@import "/src/styles/colors.scss";

nav {
  gap: 1rem;
  width: 100%;
  position: sticky;
  top: 0;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem 1rem;
  z-index: 2;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  background-color: $bg-primary-dark;

  * {
    color: white;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    padding: 0.3ch 0.7rem;
    text-decoration: none;
    transition: all 0.1s ease-in;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: $bg-accent;
    }

    &:active {
      color: $bg-accent-dark;
    }
  }

  .trigger {
    color: white;
  }
}
